<table class="gh-tbl">
  <tbody>
  <tr>
    <td class="">
      <table class="">
        <tbody>
        <tr>
          <td class="">
            <div>
              <div>
                <label class="">Wpisz szukane słowa</label>
                <input type="text"
                       class=""
                       size="50"
                       maxlength="300"
                       placeholder="Wyszukaj..."
                       [(ngModel)]=query>
              </div>
            </div>
          </td>
          <td class="">
            <div>
              <label>
                <select #c class="" (change)="chooseCategory(c.value)">
                  <option *ngFor="let category of categoryList" [ngValue]="category">{{category.categoryName}}</option>
                </select>
              </label>
            </div>
            <div *ngFor="let selectedCategory of selectedCategories">
            <label>
              <select #d class="" (change)="chooseCategory(d.value)">
                <option *ngFor="let category of selectedCategory.childrenCategories" [ngValue]="category">{{category.categoryName}}</option>
              </select>
            </label>
          </div>
          </td>
          <td class="">
            <input type="submit" class="" value="Wyszukaj" (click)="submit()">
          </td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>
