@import "../../app.component";

.ebayContainer {
  padding: 1rem;
  text-align: center;

  .myListElem {
    position: absolute;
    right: 2rem;
    top: 9rem;
  }

  .titlelabel {

  }

  .selectBlock{
    display: block;
    width: 25rem;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
}
