@import "../../colors";
@import "../../app.component";

.loginContainer {
  margin: auto;
  margin-top: 10rem;
  width: 40rem;
  background-color: $main_background_color;
  padding: 3rem 6rem;
  border-radius: 3%;

  .center {
    text-align: center;
  }

  .inputLabel {
    font-size: 1.3rem;
    color: $main_text_color;
  }

  .genderButtons {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
    color: $main_text_color;
  }

  .register-link {
    font-size: 1rem;
    text-decoration: underline;
    color: $main_text_color;
    cursor: pointer;

  }

  .register-link:hover{
    color: $main_active_color;
  }

  .error {
    color: $main_active_color;
    border-color: $main_active_color;
  }

}

.register {
  top: 10%;
}

//----- Base Alert Extend
 %alert {
   width:100%;
   padding:20px;
   display:inline-block;
   border-radius:4px;

    p, &:before {
        float:left;
    }

    &:before {
        width:25px;
        height:25px;
        margin-right:10px;
        display:inline-block;
        content:'';
        border-radius:1000px;
        background:no-repeat;
    }

    p {
        color:#fff;
    }
}

//----- Success
.alert-success {
  background:#75aa61;
  @extend %alert;

  &:before {
    background-color:#75aa61;
    background-position:-47px 7px;
  }
}

//----- Errr
.alert-error {
  background:#ae6872;
  @extend %alert;

  &:before {
    background-color:#ae6872;
    background-position:-47px 7px;
  }
}

