<div class="loginContainer">
  <div class="labelInputRow">
    <label class="inputLabel" on>E-mail</label>
    <input class="inputField" type="text" placeholder="Your email address">
  </div>
  <div class="labelInputRow">
    <label class="inputLabel">Password</label>
    <input class="inputField" type="password" placeholder="Your password">
  </div>
  <div class="labelInputRow buttonRow">
    <button (click)="changeActive()">Zaloguj</button>
  </div>
  <my-autocomplete></my-autocomplete>
</div>
